body{
    margin: 0;
}
.top {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #000;
    /*padding-top: 10px*/
}

.top1 {
    list-style: none;
    display: inline-block;
    width: 50%;
    float: left;
}
